<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-icon name="home" routerLink="/login"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center" color="light">
      TeLlevoApp
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="menu"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">password-code</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
