.color-header{
    background-color: #3C1B43;
    
}
.s{
    text-align: center;
    color: #D4E79E;
}
.s2{
    color: #3C1B43;
}

.custom-toolbar {
   --background: linear-gradient(90deg, rgba(2,0,36,0.7833508403361344) 0%, rgba(68,9,121,1) 55%, rgba(160,0,255,0.5256477591036415) 100%);
    color: linear-gradient(90deg, rgba(2,0,36,0.7833508403361344) 0%, rgba(68,9,121,1) 55%, rgba(160,0,255,0.5256477591036415) 100%);
  }

  .title-text {
    color: #ffffff; 
  }

#button-inner {
    padding-left: unset;
    padding-right: unset;
    padding-inline-start: var(--padding-start);
    padding-inline-end: var(--padding-end);
    margin-bottom: 12px;
    margin-top: 35px;
    --background: linear-gradient(90deg, rgba(2,0,36,0.7833508403361344) 0%, rgba(68,9,121,1) 55%, rgba(160,0,255,0.5256477591036415) 100%);
  }