
 <!-- Botón para volver -->
 <ion-fab>
  <ion-fab-button class="gradient-button button">
    <ion-icon name="arrow-back" (click)="volver()"></ion-icon>
  </ion-fab-button>
</ion-fab>



<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <form #frmreg="ngForm">
        <ion-text color="white" class="ion-text-center">
          <h1><b>Recuperar contraseña</b></h1>
        </ion-text>

        <ion-text color="white" >
          <p class="ion-text-center recuperar">Ingresa el correo electrónico con el cual te registraste en la app 
            para recuperar tu cuenta.
          </p>
        </ion-text>

        <div class="formulario-login">
          <ion-item>
            <ion-label class="label-correo-forget" position="floating">Correo</ion-label>
            <ion-input clearInput type="text" placeholder="Correo" required></ion-input>
          </ion-item>
        </div>

        <ion-button type="submit" routerLink="/login" expand="block" class="btn-recuperar" href="login">
          Recuperar cuenta
        </ion-button>



      </form>
    </ion-card-content>
  </ion-card>
</ion-content>



