
.toolbar {
    --background: #531776dd; /* Cambia el color de fondo a un tono de azul */
    --color: #ffffff; /* Cambia el color del texto a blanco */
    --font-size: 20px; /* Ajusta el tamaño de la fuente */
  }


.btn-recuperar {
    --background: #531776dd; /* Cambia el color de fondo a un tono de azul */
    --color: #ffffff; /* Cambia el color del texto a blanco */
    --font-size: 16px; /* Ajusta el tamaño de la fuente */
    --sborder-radius: 10px; /* Ajusta la esquina redondeada */
    margin-top: 10%; /* Mueve el botón hacia abajo un 10% de su altura */
  }
  
  .forgot-btn{
    --background: #531776dd; /* Cambia el color de fondo a un tono de azul */
    --color: #ffffff; /* Cambia el color del texto a blanco */
    --font-size: 16px; /* Ajusta el tamaño de la fuente */
    --sborder-radius: 10px; /* Ajusta la esquina redondeada */
  }
  
  .label-correo-forget {
    --color: #531776dd; /* Cambia el color del texto solo para las etiquetas con la clase 'mi-label' */
  }