<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-icon name="home" routerLink="/login"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center" color="light">
      TeLlevoApp
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="menu"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">
  <form #frmreg="ngForm">
    <ion-text color="white" class="ion-text-center">
      <h1><b>Recuperar contraseña</b></h1>
    </ion-text>

    <ion-text color="white" class="ion-text-center">
      <p>Ingresa el correo electronico con el cual te registraste en la app 
        para recuperar tu cuenta.
      </p>
    </ion-text>

    <ion-item>
      <ion-label position="floating" class="label-correo-forget"> Correo electronico</ion-label>
      <ion-input clearInput type="text" placeholder="Correo" required></ion-input>
    </ion-item>

    <ion-button expand="block" class="btn-recuperar"  href="login">
      Recuperar cuenta
    </ion-button>

  </form>
</ion-content>
