<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-icon name="home" routerLink="/login"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center" color="light">
      TeLlevoApp
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="menu"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

  <h6 style="text-align: center;"><b>¿Alguna vez te has enfrentado a la dificultad de regresar a casa después de las clases vespertinas en tu institución educativa? ¿Has sentido la incertidumbre de no tener transporte seguro y accesible?</b></h6>
  
  <ion-card class="ion-margin-top" routerLink="/about">
    <ion-img src="/assets/pregunta.png" class="ion-img-center" ></ion-img>
  </ion-card>
  
  <p id="texto-sobre" style="text-align: center; line-height: 1.5; max-width: 100%;">
    <b>"TeLlevoAPP"</b> no es solo una aplicación, es una comunidad que conecta a estudiantes que tienen movilización propia con aquellos que necesitan un viaje seguro y económico para regresar a casa. Esta aplicación ha sido diseñada específicamente para abordar la problemática del transporte estudiantil en horarios vespertinos, brindándote una solución eficiente y ecoamigable.
  </p>
  
</ion-header>

<ion-button expand="block" class="btn-register" href="register">
  Unete hoy!
</ion-button>
