

<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-icon name="home" routerLink="/login"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center" color="light">
      TeLlevoApp
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="menu"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">
  <form #frmlog="ngForm" (ngSubmit)="onSumbit()">
    <ion-text color="white">
      <h1 class="ion-text-center"><b>Inicio de Sesión</b></h1>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="auto">
          <ion-img src="/assets/user.png" style="margin-bottom: 25px;" style="max-width: 40px; max-height: 40px; "></ion-img>
        </ion-col>
      </ion-row>      
    </ion-text>

    <ion-item>
      <ion-label position="floating" class="label-usuario-login">Nombre de usuario</ion-label>
      <ion-input clearInput [(ngModel)]="usuario.username" name="usuario" type="text" placeholder="Ingresa tu nombre de usuario" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" class="label-password-login">Contraseña</ion-label>
      <ion-input clearInput [(ngModel)]="usuario.password" name="password" type="password" placeholder="Ingresa tu contraseña" required></ion-input>
    </ion-item>
    
    <ion-button type="submit" expand="block" [disabled]="frmlog.invalid"  class="login-btn" style="margin-bottom: 20px; margin-top: 15px;">
      Iniciar Sesión
    </ion-button>
    </form>
    
    <ion-button expand="block" class="forgot-btn" href="forgot-password" style="margin-bottom: 20px;">
      Olvidé mi contraseña
    </ion-button>
    
    
  <ion-text color="white" class="ion-text-center ion-text" >
    <h4><b>No tienes cuenta?</b></h4>
    <p>Unete a nosotros hoy y se parte de esta comunidad!</p>
  </ion-text>

  <ion-row class="ion-align-items-center ion-justify-content-center" routerLink="/about" >
    <ion-col size="auto">
      <ion-img src="/assets/autogps.png" style="max-width: 340px; max-height: 320px; margin-top: -15px;"></ion-img>
    </ion-col>
  </ion-row>
  

  <ion-button expand="block" class="register-btn" href="register">
    Quiero Registrarme
  </ion-button>
  

  
