
.toolbar {
  --background: linear-gradient(to bottom, #531776, #761a59); /* Fondo degradado morado */
    --color: #ffffff; /* Cambia el color del texto a blanco */
    --font-size: 20px; /* Ajusta el tamaño de la fuente */
  }


  .btn-register{
    --background: linear-gradient(to bottom, #531776, #761a59); /* Fondo degradado morado */
    --color: #ffffff; /* Cambia el color del texto a blanco */
    --font-size: 16px; /* Ajusta el tamaño de la fuente */
    --sborder-radius: 10px; /* Ajusta la esquina redondeada */
    margin-top: 10%; /* Mueve el botón hacia abajo un 10% de su altura */
  }

  .label-register{
    --color: #531776dd;
  }

  .link-about{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  }

  