
<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title class="ion-text-center" color="light">
      TeLlevoApp
    </ion-title>
  </ion-toolbar>
</ion-header>

 <!-- Botón para volver -->
 <ion-fab>
  <ion-fab-button class="gradient-button button">
    <ion-icon name="arrow-back" (click)="volver()"></ion-icon>
  </ion-fab-button>
</ion-fab>


<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <form #frmreg="ngForm">
        <ion-text color="white" class="ion-text-center texto-register">
          <h1><b>Registro de usuario</b></h1>
        </ion-text>
        <ion-item>
          <ion-label position="floating" class="label-register">Correo Electronico</ion-label>
          <ion-input clearInput type="email" placeholder="ejemplo@duocuc.cl" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="label-register">Nombre de usuario</ion-label>
          <ion-input clearInput type="text" placeholder="Ingresa un nombre para tu usuario" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="label-register">Contraseña</ion-label>
          <ion-input clearInput type="text" name="password" type="password" placeholder="Ingresa una contraseña segura" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="label-register">Confirmar contraseña</ion-label>
          <ion-input clearInput type="text" name="password" type="password" placeholder="Ingresa tu contraseña nuevamente" required></ion-input>
        </ion-item>

        <ion-button expand="block" class="btn-register" href="login" [disabled]="!frmreg.valid">
          Registrarme
        </ion-button>
        
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

