.toolbar {
    --background: linear-gradient(to bottom, #531776, #761a59); /* Fondo degradado morado */
    --color: #ffffff; /* Cambia el color del texto a blanco */
    --font-size: 20px; /* Ajusta el tamaño de la fuente */
}


  /* Estilo para el botón redondo */
/* Estilo para el botón redondo con fondo de gradiente lineal */
.gradient-button {
  width: 40px;
  height: 40px;
  border-radius: 80%;
  --background: linear-gradient(to bottom, #531776, #761a59);
  --color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 694px;
  right: 318px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo para el icono dentro del botón */
.round-button ion-icon {
  font-size: 20px; /* Cambia el tamaño del icono */
}


ion-card {
  margin-top: 106px;
  box-shadow: 0px 0px 80px 3px rgba(0, 0, 0, 0.18); 
  border-radius: 53px;
}

.metodos-pago{
  margin-top: -191px;
  margin-bottom: 220px;
}

.metodos-pago2{
  margin-top: -530px;
  margin-bottom: 7px;
}

.texto-descrip{
    margin-bottom: -45px;
    margin-top: 7px;
    font-size: 19px;
    width: 97%;
}

.btn-agregar-pago{
  --background: linear-gradient(to bottom, #531776, #761a59);
  --color: #ffffff;
  --font-size: 16px;
  --sborder-radius: 8px;
  padding: 9px 21px;
  margin-top: -327px;
  margin-bottom: 179px;
}

  /* Estilo para el menú cuando esté abierto */
  ion-menu::part(container){
    border-radius: 20px 0px 0px 20px; /* Ajusta el radio del borde según tu preferencia */
    box-shadow: -4px 0px 16px rgba(255, 0, 255, 0.18); /* Cambiamos la posición de la sombra a la izquierda */
  }

  ion-menu::part(backdrop) {
    background-color: rgba(1, 1, 1, 0.5);
  }

