
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}



.img-inicio{
  max-width: 90%; // Ajusta el ancho de la imagen al 100% del contenedor
  margin-top: 100px; // Mueve la imagen hacia abajo 20px
  margin-left: auto; // Centra la imagen horizontalmente
  margin-right: auto; // Centra la imagen horizontalmente
  display: block; // Asegura que la imagen sea un elemento de bloque
}

.ion-text-center {
  text-align: center; // Centra el texto horizontalmente
  position: absolute; // Permite ajustar la posición verticalmente
  font-size: 25px;
  top: 20%; // Mueve el texto hacia el centro vertical de la página
  left: 0; // Alinea el texto en el centro horizontal
  right: 0; // Alinea el texto en el centro horizontal
  transform: translateY(-50%); // Corrige la posición vertical
  color: rgb(4, 4, 4);
}

.subtitulo {
  font-size: 16px; /* Tamaño de fuente del subtitulo */
  color: #1a1a1a; /* Color del texto del subtitulo */
  margin-top: 30px; /* Espacio superior para separar el título del subtitulo */
}

.container {
  flex-direction: column;
}

<<<<<<< Updated upstream
.img-inicio{
  max-width: 90%; // Ajusta el ancho de la imagen al 100% del contenedor
  margin-top: 100px; // Mueve la imagen hacia abajo 20px
  margin-left: auto; // Centra la imagen horizontalmente
  margin-right: auto; // Centra la imagen horizontalmente
  display: block; // Asegura que la imagen sea un elemento de bloque
}

.ion-text-center {
  text-align: center; // Centra el texto horizontalmente
  position: absolute; // Permite ajustar la posición verticalmente
  font-size: 25px;
  top: 20%; // Mueve el texto hacia el centro vertical de la página
  left: 0; // Alinea el texto en el centro horizontal
  right: 0; // Alinea el texto en el centro horizontal
  transform: translateY(-50%); // Corrige la posición vertical
  color: rgb(4, 4, 4);
}

.subtitulo {
  font-size: 16px; /* Tamaño de fuente del subtitulo */
  color: #1a1a1a; /* Color del texto del subtitulo */
  margin-top: 30px; /* Espacio superior para separar el título del subtitulo */
}

.iniciar-btn {
  margin-top: -30px;
  --background: linear-gradient(to bottom, #531776, #761a59); /* Fondo degradado morado */
  --color: #ffffff; /* Cambia el color del texto a blanco */
  --font-size: 16px; /* Ajusta el tamaño de la fuente */
  --sborder-radius: 10px; /* Ajusta la esquina redondeada */
  
}
=======

ion-card {
  width: 100px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to bottom, #531776, #761a59);
  color: white;
  margin: auto;
    margin-top: auto;
    margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: -18px;
  margin-top: -256px;
}
>>>>>>> Stashed changes
