<ion-content>
  <ion-img class="img-inicio" src="assets/fotoinicio.png"></ion-img>
</ion-content>

<ion-content>
  <ion-title class="ion-text-center">TeLlevoApp</ion-title>
  <p class="ion-text-center subtitulo">Simplificando tu transporte diario</p>
</ion-content>

<ion-content>
  <ion-title class="ion-text-center">TeLlevoApp</ion-title>
  <p class="ion-text-center subtitulo">Simplificando tu transporte diario</p>
</ion-content>

<div class="container">
  <div class="track">
    <ion-card button="true" href="login">
      <ion-card-content>Iniciar</ion-card-content>
    </ion-card>
