

<ion-content [fullscreen]="true" class="content-with-footer">
  <!-- Contenido principal de tu página -->
</ion-content>

<!-- Footer centrado al pie de la página -->
<ion-footer class="ion-text-center">
  <ion-toolbar>
    <ion-row>
      <ion-col size="4">
        <!-- Sección de búsqueda -->
        <ion-icon name="search"></ion-icon>
        <p>Búsqueda</p>
      </ion-col>
      <ion-col size="4">
        <!-- Sección de cuenta -->
        <ion-icon name="person"></ion-icon>
        <p>Cuenta</p>
      </ion-col>
      <ion-col size="4">
        <!-- Sección de chat -->
        <ion-icon name="chatbox"></ion-icon>
        <p>Chat</p>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
